/*- - - - - - - - - - - - - - - - -Experience Container - - - - - - - -*/
.experiences-container {
  display: flex;
  flex-direction: column;
}
.top-part-experiences {
  display: flex;
  background-color: #f4f6f8;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.bottom-part-experiences {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px 130px;
}
.card {
  border: 1px solid lightgray;
  border-radius: 10px;
}
.card-upper {
  background-color: pink;
  height: 80px;
  display: flex;
}
.left-side-card-upper {
  background-color: #f4f6f8;
  width: 60%;
  align-items: center;
  padding-top: 10px;
  padding-left: 30px;
}
.sub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.right-side-card-upper {
  display: flex;
  background-color: #f4f6f8;
  width: 40%;
  padding-top: 10px;
  justify-content: center;
}
.icon-img {
  height: 50%;
  width: 50%;
}
.card-below {
  background-color: white;
  height: 150px;
  padding: 20px 30px 0px 30px;
  overflow: hidden;
}
@media only screen and (max-width: 750px) {
  /* bottome part experiences */
  .bottom-part-experiences {
    display: flex;
    background-color: #f4f6f8;
    flex-direction: column;
    padding: 0px 30px;
  }
}
