.main-container {
  background-color: green;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - BODY SECTION - - - - - - - - - - - - - - - - - - -  */
.body-container {
  background-color: red;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - CONTACT CONTAINER - - - - - -  - - - */
.contact-container {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.upper-contact-container {
  display: flex;
  background-color: white;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.lower-contact-container {
  background-color: white;
  display: flex;
  padding: 0px 130px;
}
.contact-form {
  background-color: #f4f6f8;
  width: 50%;
  padding: 20px;
  height: 500px;
  margin-bottom: 100px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 5px;
}
input {
  margin: 15px 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 35px;
  width: 90%;
}
textarea {
  margin: 15px 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 90%;
}

.send-button {
  height: 45px;
  width: 100px;
  margin: 20px 0px 0px 5px;
  border-radius: 20px;
  border: 0px;
  background-color: yellow;
  cursor: pointer;
}
.contact-detail {
  background-color: white;
  height: 500px;
  width: 50%;
  padding: 20px;
}
.contact-sub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-message {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.contact-sub-detail {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.uta {
  font-family: Arial, Helvetica, sans-serif;
}
/* - - - - - - - - - - - FOOTER CONTAINER - - - - - - - - - - - - */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0px;
  gap: 10px;
  background-color: #f9f3ed;
}
.footer-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
/* MEDIA QUERY */
@media only screen and (max-width: 750px) {
  /* Contact container */
  .lower-contact-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }
  .contact-form {
    width: 100%;
  }

  .contact-detail {
    width: 100%;
  }
}
