.main-container {
  background-color: green;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - HEADING CONTAINER - - - - - - - - - - - - - - - - - - -  */

.heading-container {
  background-color: #f4f6f8;
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0px;
}
/* top header inside heading container wher we have image and button */
.top-header {
  display: flex;
  justify-content: space-evenly;
}
.pro-img {
  height: 60px;
  border-radius: 60%;
}
.btnIcon {
  display: none;
}

/* Bottom container inside heading container where we have list of menu items */
ul {
  background-color: #f4f6f8;
  display: flex;
  padding: 0px;
}
.li {
  margin: 0px 10px;
  list-style-type: none;
  font-style: oblique;
  font-size: 20px;
  background-color: #f4f6f8;
}
.li a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
  cursor: pointer;
}

/* li:hover {
  color: red;
  cursor: pointer;
} */

/* - - - - - - - - - - - - - - - - - - - BODY SECTION - - - - - - - - - - - - - - - - - - -  */
.body-container {
  background-color: red;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - - - - - - - - - - Home Container - - - - - - - - - - - - - - - - - - -  */
.home-container {
  background-color: pink;
  display: flex;
  margin: 0px;
}
.pic-container {
  width: 50%;
  height: 82vh;
  padding: 25px;
  background-color: #f4f6f8;
  box-sizing: border-box;
}
.picSize {
  height: 100%;
  width: 100%;
}
.sub-container {
  width: 50%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #f4f6f8;
  padding: 25px;
  box-sizing: border-box;
}

/* TEXT SIZES */
.hello-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin: 20px 0px;
}
.name-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px 0px;
}
.profesion-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  margin: 20px 0px;
}
.icon {
  margin: 20px 20px 20px 0px;
}
.btn {
  height: 50px;
  width: 160px;
  border-radius: 20px;
  border: 1px solid yellow;
  background-color: yellow;
}

/* - - - - - - - - - - - - - - - - - - - About Container - - - - - - - - - - - - - - - - - - -  */
.about-container {
  background-color: blue;
  display: flex;
}
.about-container-detail {
  background-color: #f4f6f8;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.about-subject {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}
.about-person {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.about-details {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.straight-line {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5px 0px;
}
.about-image {
  background-color: #f4f6f8;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}
.responsive-pic {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 750px) {
  /* Heading main container */
  .heading-container {
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
  }
  /* top section inside heading container wher we have image and button */
  .top-header {
    display: flex;
    justify-content: space-between;
  }

  .btnIcon {
    display: inline-block;
    height: 40px;
    width: 40px;
  }

  /* Bottom container inside heading container where we have list of menu items */
  ul {
    background-color: #f4f6f8;
    display: none;
    flex-direction: column;
  }
  .li {
    margin: 5px 0px;
  }
  ul.navactive {
    display: flex;
  }

  /* NOW FOR HOME SECTION */
  .home-container {
    flex-direction: column;
  }
  .pic-container {
    width: 100%;
    box-sizing: border-box;
  }

  .sub-container {
    width: 100%;
    padding: 0px 0px 0px 40px;
    height: 500px;
  }

  /* NOW FOR ABOUT SECTION */
  .about-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .about-container-detail,
  .about-container-image {
    width: 100vh;
  }

  .about-container-detail,
  .about-image {
    width: 100%;
  }

  .responsive-pic {
    height: 80%;
    width: 80%;
  }
}
