:root {
  --blue-color: #2c74b3;
  --white-color: white;
}
.contact-container {
  display: flex;
  flex-direction: column;
  background-color: pink;
}
.upper-contact-container {
  display: flex;
  background-color: #f4f6f8;
  color: #00337c;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-top: 100px;
}
.lower-contact-container {
  background-color: var(--white-color);
  display: flex;
  padding: 10px 130px;
}
.contact-form {
  background-color: #f4f6f8;
  width: 100%;
  padding: 20px;
  margin-bottom: 100px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 5px;
}
.err {
  color: red;
}
input {
  margin: 15px 5px;
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  padding-left: 10px;
  height: 35px;
  width: 90%;
}
textarea {
  margin: 15px 5px;
  border-radius: 10px;
  border: 1px solid var(--blue-color);
  padding-left: 10px;
  width: 90%;
}

.send-button {
  height: 45px;
  width: 100px;
  margin: 20px 0px 0px 5px;
  border-radius: 20px;
  border: 0px;
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
  transition-duration: 1s;
}
.send-button:hover {
  background-color: rgb(142, 142, 10);
  color: var(--white-color);
}
.contact-detail {
  background-color: var(--white-color);
  height: 500px;
  width: 100%;
  padding: 20px;
}
.contact-sub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-message {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.contact-sub-detail {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 8px 0px;
}

.uta {
  font-family: Arial, Helvetica, sans-serif;
}
/* MEDIA QUERY */
@media only screen and (max-width: 750px) {
  /* Contact container */
  .lower-contact-container {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
  }
  .contact-form {
    width: 100%;
    box-sizing: border-box;
  }

  .contact-detail {
    width: 100%;
    height: 300px;
  }
}
