/*- - - - - - - - - - - - - - - - -Experience Container - - - - - - - -*/
.education-container {
  display: flex;
  flex-direction: column;
}
.top-part-education {
  display: flex;
  background-color: #f4f6f8;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-top: 100px;
}
.bottom-part-education {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px 130px;
}
.card-education {
  /* border: 1px solid #2c74b3;
  border-radius: 0px 0px 10px 10px; */
}
.card-upper-education {
  background-color: pink;
  height: 80px;
  display: flex;
  color: #f8ede3;
}
.left-side-card-upper-education {
  background-color: #2c74b3;
  width: 100%;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
}
.sub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
/* .right-side-card-upper {
    display: flex;
    background-color: #f4f6f8;
    width: 40%;
    padding-top: 10px;
    justify-content: center;
  }
  .icon-img {
    height: 50%;
    width: 50%;
  } */
.card-below-education {
  background-color: white;
  padding: 10px 30px 10px 0px;
  overflow: hidden;
}
.card-below-education a {
  text-decoration: none;
}
@media only screen and (max-width: 750px) {
  /* bottome part education */
  .bottom-part-education {
    display: flex;
    background-color: #f4f6f8;
    flex-direction: column;
    padding: 0px 30px;
  }
}
