.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  height: 200px;
  background-color: #f4f6f8;
}
.education-main-container {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 50vh;
}
.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  width: 80vw;
}

.education-card-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background-color: white;
  overflow-x: auto;
}

.card-education {
  background-color: #2d74b3;
  height: 100%;
  width: 31%;
  margin: 5px;
  min-width: 0;
  flex-shrink: 0;
}

.card-top {
  color: white;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #2d74b3;
}

.degree {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.institute {
  font-size: 18px;
}
.card-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  background-color: white;
  border-top-right-radius: 50px;
  text-align: center;
}
.edu-addess {
  font-size: 20px;
}
.organizationLink {
  background-color: #2d74b3;
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 14px;
}
.organizationLink a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 600px) {
  .card-education {
    width: 90%;
  }
}
